Jinja2==2.7.3
Logbook==0.9.1
Mako==1.0.1
MarkupSafe==0.23
Nikola==7.4.1
Pillow==2.8.1
PyRSS2Gen==1.1
Pygments==2.0.2
Unidecode==0.4.17
Yapsy
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
blinker==1.3
certifi==2015.4.28
configparser==3.5.0b2
docutils==0.12
doit==0.28.0
livereload==2.3.2
lxml==3.4.4
natsort==3.5.6
pyinotify==0.9.5
python-dateutil==2.4.2
requests==2.7.0
six==1.9.0
tornado==4.2b1
webassets==0.10.1
wsgiref==0.1.2
