h1, h2, h3, h4 {
    font-family: "Raleway";
    color: #009688;
}

.header-panel {
    z-index: 3;
    height: 156px;
}

.header-panel h1 {
    color: #FFF;
    font-size: 35px;
    font-weight: 400;
    position: absolute;
    bottom: 10px;
    padding-left: 35px;
}

.header-panel div {
    position: relative;
    height: 100%;
}

.navbar {
    margin-bottom: 0px;
}

#blog-title {
    color: #fff;
}

.source-button > a {
    top: 123px;
    position: fixed;
    right: 67px;
    z-index: 1000;
}

.footer {

    z-index: 30;
    height: 40px;
    background-color: #eee;
}


.menu {
overflow: auto;
padding: 0;
}
.menu, .menu * {
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}
.menu ul {
padding: 0;
margin: 7px 0;
}
.menu ul li {
list-style: none;
padding: 20px 0 20px 50px;
font-size: 15px;
font-weight: normal;
cursor: pointer;
}
.menu ul li.active {
background-color: #dedede;
position: relative;
}
.menu ul li a {
color: rgb(51, 51, 51);
text-decoration: none;
}

.content-material {
    min-height: 75%;
}
.posts-material {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 4;
    padding: 0px;
    overflow: auto;
}

.posts-material> div {
    padding: 64px 5px 0px;
}

.post-material, .content-material > article, .content-material > .page {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.3s ease-out 0s;
    display: block;
    background-color: #fff;
    padding: 19px;
    margin-bottom: 20px;
    box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    border: 0px none;
}

.search-form {
    z-index: 10;
}

.btn-footer {
    margin: 20px;
}

ul > li {
    list-style: none;
}
